<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="linqCockroach.DefSet" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="cnstrPostgreSQL" connectionString="Server=localhost;Port=26257;User Id=root;Database=bank" providerName="PostgreSQL" />
	</connectionStrings>
	<userSettings>
		<linqCockroach.DefSet>
			<setting name="AppName" serializeAs="String">
				<value>linqCockroach</value>
			</setting>
		</linqCockroach.DefSet>
	</userSettings>
</configuration>